body {
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    color: #333333;
    padding: 0;
    margin: 0;
}

.content {
    margin: auto;
    padding: 10px;
    border: 1px solid gray;
    min-width: 500px;
    max-width: 50%;
}

h2 {
    margin: 5px 0;
}

.date {
    color: #888888;
    font-size: 90%;
}


//
// Стили для отображения подарков
//

.is-gifts {
    li {
        padding-top: 7px;

        .reserved {
            text-decoration: line-through;
        }

        // префикс "is-" указывает, что класс используется и в JavaScript, и в CSS
        .is-manage {
            margin-left: 20px;
            font-size: 90%;

            a {
                text-decoration: underline;
                opacity: 0.5;

                // Символ "&" указывает, что будет относиться к данному селектору,
                // без него создается новый каскад.
                &:hover {
                    opacity: 1;
                    text-decoration: none;
                }

                &.reserve {
                    color: green;
                }

                &.discard {
                    color: red;
                }
            }
        }
    }
}


//
// Стили для формы бронирования
//
.js-reserve-form {
    padding: 5px;


    input {
        border: 1px solid gray;
        padding: 2px;
        border-radius: 5px;
    }

    input[type="submit"],
    input[type="reset"] {
        background-color: aliceblue;
        cursor: pointer;

        &:hover {
            background-color: azure;
        }
    }

    input[type="email"],
    input[type="text"] {
        width: 130px;
    }

}


//
// Вспомогательные стили
//

// Отображение элементов в одну строку
.inline {
    display: inline-block;
}

// Скрыть элементы
.hidden {
    // по умолчанию стили описанные ниже в CSS-файле переопределяют ранее описанные
    // "!important" говорит, что это правило важнее остальных примененных к элементу
    display: none !important;
}
